<mat-form-field appearance="fill">
  <mat-label>Cantidad de Items</mat-label>
  <mat-select value="20">
    <mat-option value="10" (click)="ActualizarLista(10)">
      10
    </mat-option>
    <mat-option value="20" (click)="ActualizarLista(20)">
      20
    </mat-option>
    <mat-option value="30" (click)="ActualizarLista(30)">
      30
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

<br>
<table>
  <div *ngFor="let pok of data.listaPokemones">
    <tr>
      <mat-card>
        <td>
          <p style="font-size: 20px;">{{pok.name}}</p>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="VerDetalle(pok)">detalle</button>
        </td>
      </mat-card>
    </tr>
  </div>
</table>